@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;700;900&display=swap");

*,
*::after,
*::before {
	box-sizing: border-box;
}
body,
html {
	font-family: "Noto Sans TC", sans-serif;
}
ul,
li {
	list-style: none;
}

a {
	color: #07cd9c;
	text-decoration: none;
}
